Repository eduazocar/boards, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: build system, Area: CI, Area: doc, Area: drivers, Area: examples, Area: Kconfig, Area: sys, Area: tests, Area: tools, Platform: m4a-mb, Platform: m4a-24g

.github/labeler.yml:

"Area: build system":
  - "Makefile.*"
  - "**/*.mk"

"Area: CI":
  - ".github/**/*.yml"

"Area: doc":
  - "doc/**/*"
  - "**/*.md"
  - "**/*.txt"

"Area: drivers":
  - "drivers/**/*"
  - "**/drivers/**/*"

"Area: examples":
  - "examples/**/*"
  - "**/examples/**/*"

"Area: Kconfig":
  - "dist/tools/kconfiglib/**/*"
  - "makefiles/kconfig.mk"
  - "kconfigs/*"
  - "**/Kconfig"

"Area: sys":
  - "sys/**/*"
  - "**/sys/**/*"

"Area: tests":
  - "tests/**/*"
  - "**/tests/**/*"
  - "makefiles/tests/**/*"

"Area: tools":
  - "dist/tools/**/*"

"Platform: m4a-mb":
  - "m4a-mb/**/*"

"Platform: m4a-24g":
  - "m4a-24g/**/*"

Deploying to gh-pages from @ Mesh4all/boards@6a6d5bab062355fb08f8e8ac43ef9b20df660f8c 🚀
  dir_1a91ba057e7618aaa89814323bd728ef.html
  dir_37c3374061e37723abb75be9a4454748.html
  dir_521a9ec750d92ccaa863bc2022b3c082.html
  dir_a641ddd3d06421c898b55389fbe0082a.html
  files.html
  globals.html
  globals_defs.html
  globals_func.html
  globals_vars.html
  graph_legend.html
  group__boards.html
  group__boards__m4a-24g.html
  group__boards__m4a-mb.html
  index.html
  m4a-24g_2include_2board_8h.html
  m4a-24g_2include_2board_8h_source.html
  m4a-24g_2include_2gpio__params_8h.html
  m4a-24g_2include_2gpio__params_8h_source.html
  m4a-24g_2include_2periph__conf_8h.html
  m4a-24g_2include_2periph__conf_8h_source.html
  m4a-mb_2include_2board_8h.html
  m4a-mb_2include_2board_8h_source.html
  m4a-mb_2include_2gpio__params_8h.html
  m4a-mb_2include_2gpio__params_8h_source.html
  m4a-mb_2include_2periph__conf_8h.html
  m4a-mb_2include_2periph__conf_8h_source.html
  modules.html
Labels: none

Deploying to gh-pages from @ Mesh4all/boards@6a6d5bab062355fb08f8e8ac43ef9b20df660f8c 🚀
  dir_1a91ba057e7618aaa89814323bd728ef.html
  dir_37c3374061e37723abb75be9a4454748.html
  dir_521a9ec750d92ccaa863bc2022b3c082.html
  dir_a641ddd3d06421c898b55389fbe0082a.html
  files.html
  globals.html
  globals_defs.html
  globals_func.html
  globals_vars.html
  graph_legend.html
  group__boards.html
  group__boards__m4a-24g.html
  group__boards__m4a-mb.html
  index.html
  m4a-24g_2include_2board_8h.html
  m4a-24g_2include_2board_8h_source.html
  m4a-24g_2include_2gpio__params_8h.html
  m4a-24g_2include_2gpio__params_8h_source.html
  m4a-24g_2include_2periph__conf_8h.html
  m4a-24g_2include_2periph__conf_8h_source.html
  m4a-mb_2include_2board_8h.html
  m4a-mb_2include_2board_8h_source.html
  m4a-mb_2include_2gpio__params_8h.html
  m4a-mb_2include_2gpio__params_8h_source.html
  m4a-mb_2include_2periph__conf_8h.html
  m4a-mb_2include_2periph__conf_8h_source.html
  modules.html
Labels: none

Deploying to gh-pages from @ Mesh4all/boards@1911a970da340727d126900ffc2ddacad70a650f 🚀
  dir_1a91ba057e7618aaa89814323bd728ef.html
  dir_37c3374061e37723abb75be9a4454748.html
  dir_521a9ec750d92ccaa863bc2022b3c082.html
  dir_a641ddd3d06421c898b55389fbe0082a.html
  files.html
  globals.html
  globals_defs.html
  globals_func.html
  globals_vars.html
  graph_legend.html
  group__boards.html
  group__boards__m4a-24g.html
  group__boards__m4a-mb.html
  index.html
  m4a-24g_2include_2board_8h.html
  m4a-24g_2include_2board_8h_source.html
  m4a-24g_2include_2gpio__params_8h.html
  m4a-24g_2include_2gpio__params_8h_source.html
  m4a-24g_2include_2periph__conf_8h.html
  m4a-24g_2include_2periph__conf_8h_source.html
  m4a-mb_2include_2board_8h.html
  m4a-mb_2include_2board_8h_source.html
  m4a-mb_2include_2gpio__params_8h.html
  m4a-mb_2include_2gpio__params_8h_source.html
  m4a-mb_2include_2periph__conf_8h.html
  m4a-mb_2include_2periph__conf_8h_source.html
  modules.html
Labels: none

Deploying to gh-pages from @ Mesh4all/boards@8c33eeddd0c5828f841394d70256f9aff0a9ee01 🚀
  dir_1a91ba057e7618aaa89814323bd728ef.html
  dir_37c3374061e37723abb75be9a4454748.html
  dir_521a9ec750d92ccaa863bc2022b3c082.html
  dir_a641ddd3d06421c898b55389fbe0082a.html
  files.html
  globals.html
  globals_defs.html
  globals_func.html
  globals_vars.html
  graph_legend.html
  group__boards.html
  group__boards__m4a-24g.html
  group__boards__m4a-mb.html
  index.html
  m4a-24g_2include_2board_8h.html
  m4a-24g_2include_2board_8h_source.html
  m4a-24g_2include_2gpio__params_8h.html
  m4a-24g_2include_2gpio__params_8h_source.html
  m4a-24g_2include_2periph__conf_8h.html
  m4a-24g_2include_2periph__conf_8h_source.html
  m4a-mb_2include_2board_8h.html
  m4a-mb_2include_2board_8h_source.html
  m4a-mb_2include_2gpio__params_8h.html
  m4a-mb_2include_2gpio__params_8h_source.html
  m4a-mb_2include_2periph__conf_8h.html
  m4a-mb_2include_2periph__conf_8h_source.html
  modules.html
Labels: none

Deploying to gh-pages from @ Mesh4all/boards@a6c69aa2d923db099e8df9c5118b2fdc8137e453 🚀
  dir_1a91ba057e7618aaa89814323bd728ef.html
  dir_37c3374061e37723abb75be9a4454748.html
  dir_521a9ec750d92ccaa863bc2022b3c082.html
  dir_a641ddd3d06421c898b55389fbe0082a.html
  files.html
  globals.html
  globals_defs.html
  globals_func.html
  globals_vars.html
  graph_legend.html
  group__boards.html
  group__boards__m4a-24g.html
  group__boards__m4a-mb.html
  index.html
  m4a-24g_2include_2board_8h.html
  m4a-24g_2include_2board_8h_source.html
  m4a-24g_2include_2gpio__params_8h.html
  m4a-24g_2include_2gpio__params_8h_source.html
  m4a-24g_2include_2periph__conf_8h.html
  m4a-24g_2include_2periph__conf_8h_source.html
  m4a-mb_2include_2board_8h.html
  m4a-mb_2include_2board_8h_source.html
  m4a-mb_2include_2gpio__params_8h.html
  m4a-mb_2include_2gpio__params_8h_source.html
  m4a-mb_2include_2periph__conf_8h.html
  m4a-mb_2include_2periph__conf_8h_source.html
  modules.html
Labels: none

Deploying to gh-pages from @ Mesh4all/boards@5343d4141ce2bc7e44f2e3801450062cd2345136 🚀
  dir_1a91ba057e7618aaa89814323bd728ef.html
  dir_37c3374061e37723abb75be9a4454748.html
  dir_521a9ec750d92ccaa863bc2022b3c082.html
  dir_a641ddd3d06421c898b55389fbe0082a.html
  files.html
  globals.html
  globals_defs.html
  globals_func.html
  globals_vars.html
  graph_legend.html
  group__boards.html
  group__boards__m4a-24g.html
  group__boards__m4a-mb.html
  index.html
  m4a-24g_2include_2board_8h.html
  m4a-24g_2include_2board_8h_source.html
  m4a-24g_2include_2gpio__params_8h.html
  m4a-24g_2include_2gpio__params_8h_source.html
  m4a-24g_2include_2periph__conf_8h.html
  m4a-24g_2include_2periph__conf_8h_source.html
  m4a-mb_2include_2board_8h.html
  m4a-mb_2include_2board_8h_source.html
  m4a-mb_2include_2gpio__params_8h.html
  m4a-mb_2include_2gpio__params_8h_source.html
  m4a-mb_2include_2periph__conf_8h.html
  m4a-mb_2include_2periph__conf_8h_source.html
  modules.html
Labels: none

Deploying to gh-pages from @ Mesh4all/boards@99657c04e19373a9216e9cf372041b90ffb78445 🚀
  dir_1a91ba057e7618aaa89814323bd728ef.html
  dir_37c3374061e37723abb75be9a4454748.html
  dir_521a9ec750d92ccaa863bc2022b3c082.html
  dir_a641ddd3d06421c898b55389fbe0082a.html
  files.html
  globals.html
  globals_defs.html
  globals_func.html
  globals_vars.html
  graph_legend.html
  group__boards.html
  group__boards__m4a-24g.html
  group__boards__m4a-mb.html
  index.html
  m4a-24g_2include_2board_8h.html
  m4a-24g_2include_2board_8h_source.html
  m4a-24g_2include_2gpio__params_8h.html
  m4a-24g_2include_2gpio__params_8h_source.html
  m4a-24g_2include_2periph__conf_8h.html
  m4a-24g_2include_2periph__conf_8h_source.html
  m4a-mb_2include_2board_8h.html
  m4a-mb_2include_2board_8h_source.html
  m4a-mb_2include_2gpio__params_8h.html
  m4a-mb_2include_2gpio__params_8h_source.html
  m4a-mb_2include_2periph__conf_8h.html
  m4a-mb_2include_2periph__conf_8h_source.html
  modules.html
Labels: none

Deploying to gh-pages from @ Mesh4all/boards@543196c725414e742a82297663638bbce242959b 🚀
  dir_1a91ba057e7618aaa89814323bd728ef.html
  dir_521a9ec750d92ccaa863bc2022b3c082.html
  dir_a641ddd3d06421c898b55389fbe0082a.html
  dir_c0654836aac72a94da6f079326b928b1.html
  dir_e68e8157741866f444e17edd764ebbae.html
  files.html
  globals.html
  globals_defs.html
  globals_func.html
  globals_vars.html
  graph_legend.html
  group__boards.html
  group__boards__m4a-24g.html
  group__boards__m4a-mb.html
  index.html
  m4a-24g_2include_2board_8h.html
  m4a-24g_2include_2board_8h_source.html
  m4a-24g_2include_2gpio__params_8h.html
  m4a-24g_2include_2gpio__params_8h_source.html
  m4a-24g_2include_2periph__conf_8h.html
  m4a-24g_2include_2periph__conf_8h_source.html
  m4a-mb_2include_2board_8h.html
  m4a-mb_2include_2board_8h_source.html
  m4a-mb_2include_2gpio__params_8h.html
  m4a-mb_2include_2gpio__params_8h_source.html
  m4a-mb_2include_2periph__conf_8h.html
  m4a-mb_2include_2periph__conf_8h_source.html
  modules.html
Labels: none

Deploying to gh-pages from @ Mesh4all/boards@0281277f430e3790f45ef9bbd30548681ebe8536 🚀
  dir_1a91ba057e7618aaa89814323bd728ef.html
  dir_37c3374061e37723abb75be9a4454748.html
  dir_521a9ec750d92ccaa863bc2022b3c082.html
  dir_a641ddd3d06421c898b55389fbe0082a.html
  dir_c0654836aac72a94da6f079326b928b1.html
  dir_e68e8157741866f444e17edd764ebbae.html
  files.html
  globals.html
  globals_defs.html
  globals_func.html
  globals_vars.html
  graph_legend.html
  group__boards.html
  group__boards__m4a-24g.html
  group__boards__m4a-mb.html
  index.html
  m4a-24g_2include_2board_8h.html
  m4a-24g_2include_2board_8h_source.html
  m4a-24g_2include_2gpio__params_8h.html
  m4a-24g_2include_2gpio__params_8h_source.html
  m4a-24g_2include_2periph__conf_8h.html
  m4a-24g_2include_2periph__conf_8h_source.html
  m4a-mb_2include_2board_8h.html
  m4a-mb_2include_2board_8h_source.html
  m4a-mb_2include_2gpio__params_8h.html
  m4a-mb_2include_2gpio__params_8h_source.html
  m4a-mb_2include_2periph__conf_8h.html
  m4a-mb_2include_2periph__conf_8h_source.html
  modules.html
Labels: none

ci: add static tests
  .github/workflows/static-test.yml
  Makefile
  dist/tools/headerguards/check.sh
  dist/tools/headerguards/headerguards.py
  dist/tools/whitespacecheck/ignore_list.txt
  m4a-24g/board.c
  m4a-24g/include/board.h
  m4a-24g/include/gpio_params.h
  m4a-24g/include/periph_conf.h
  m4a-mb/include/gpio_params.h
Labels: Area: CI, Area: doc, Area: tools, Platform: m4a-mb, Platform: m4a-24g

Deploying to gh-pages from @ Mesh4all/boards@3b1277fa6200fd84062a83a5ee5facbdf4631d88 🚀
  dir_1a91ba057e7618aaa89814323bd728ef.html
  dir_37c3374061e37723abb75be9a4454748.html
  dir_521a9ec750d92ccaa863bc2022b3c082.html
  dir_a641ddd3d06421c898b55389fbe0082a.html
  dir_c0654836aac72a94da6f079326b928b1.html
  dir_e68e8157741866f444e17edd764ebbae.html
  files.html
  globals.html
  globals_defs.html
  globals_func.html
  globals_vars.html
  graph_legend.html
  group__boards.html
  group__boards__m4a-24g.html
  group__boards__m4a-mb.html
  index.html
  m4a-24g_2include_2board_8h.html
  m4a-24g_2include_2board_8h_source.html
  m4a-24g_2include_2gpio__params_8h.html
  m4a-24g_2include_2gpio__params_8h_source.html
  m4a-24g_2include_2periph__conf_8h.html
  m4a-24g_2include_2periph__conf_8h_source.html
  m4a-mb_2include_2board_8h.html
  m4a-mb_2include_2board_8h_source.html
  m4a-mb_2include_2gpio__params_8h.html
  m4a-mb_2include_2gpio__params_8h_source.html
  m4a-mb_2include_2periph__conf_8h.html
  m4a-mb_2include_2periph__conf_8h_source.html
  modules.html
Labels: none

Create media folder (#5)
  doc/media/m4a-logo.png
  doc/media/readme.txt
Labels: Area: doc

Deploying to gh-pages from @ Mesh4all/boards@ed8d4c0430dd6c5284b77e223d95ac88e83e51ac 🚀
  dir_1a91ba057e7618aaa89814323bd728ef.html
  dir_37c3374061e37723abb75be9a4454748.html
  dir_521a9ec750d92ccaa863bc2022b3c082.html
  dir_a641ddd3d06421c898b55389fbe0082a.html
  dir_c0654836aac72a94da6f079326b928b1.html
  dir_e68e8157741866f444e17edd764ebbae.html
  files.html
  globals.html
  globals_defs.html
  globals_func.html
  globals_vars.html
  graph_legend.html
  group__boards__m4a-24g.html
  group__boards__m4a-mb.html
  index.html
  m4a-24g_2include_2board_8h.html
  m4a-24g_2include_2board_8h_source.html
  m4a-24g_2include_2gpio__params_8h.html
  m4a-24g_2include_2gpio__params_8h_source.html
  m4a-24g_2include_2periph__conf_8h.html
  m4a-24g_2include_2periph__conf_8h_source.html
  m4a-mb_2include_2board_8h.html
  m4a-mb_2include_2board_8h_source.html
  m4a-mb_2include_2gpio__params_8h.html
  m4a-mb_2include_2gpio__params_8h_source.html
  m4a-mb_2include_2periph__conf_8h.html
  m4a-mb_2include_2periph__conf_8h_source.html
  modules.html
Labels: none

Update build-docs.yml (#6)
  .github/workflows/build-docs.yml
Labels: Area: CI

Deploying to gh-pages from @ Mesh4all/boards@b668dfe2024ff4cf7e75d271a0407187c4511943 🚀
  dir_1a91ba057e7618aaa89814323bd728ef.html
  dir_37c3374061e37723abb75be9a4454748.html
  dir_521a9ec750d92ccaa863bc2022b3c082.html
  dir_a641ddd3d06421c898b55389fbe0082a.html
  dir_c0654836aac72a94da6f079326b928b1.html
  dir_e68e8157741866f444e17edd764ebbae.html
  files.html
  globals.html
  globals_defs.html
  globals_func.html
  globals_vars.html
  graph_legend.html
  group__boards.html
  group__boards__m4a-24g.html
  group__boards__m4a-mb.html
  index.html
  m4a-24g_2include_2board_8h.html
  m4a-24g_2include_2board_8h_source.html
  m4a-24g_2include_2gpio__params_8h.html
  m4a-24g_2include_2gpio__params_8h_source.html
  m4a-24g_2include_2periph__conf_8h.html
  m4a-24g_2include_2periph__conf_8h_source.html
  m4a-mb_2include_2board_8h.html
  m4a-mb_2include_2board_8h_source.html
  m4a-mb_2include_2gpio__params_8h.html
  m4a-mb_2include_2gpio__params_8h_source.html
  m4a-mb_2include_2periph__conf_8h.html
  m4a-mb_2include_2periph__conf_8h_source.html
  modules.html
Labels: none

doc: update readme.txt (#7)
  doc/media/readme.txt
Labels: Area: doc

Deploying to gh-pages from @ Mesh4all/boards@d42a1dfa4791f02697791b4407d6a5d15195e942 🚀
  dir_1a91ba057e7618aaa89814323bd728ef.html
  dir_37c3374061e37723abb75be9a4454748.html
  dir_521a9ec750d92ccaa863bc2022b3c082.html
  dir_a641ddd3d06421c898b55389fbe0082a.html
  dir_c0654836aac72a94da6f079326b928b1.html
  dir_e68e8157741866f444e17edd764ebbae.html
  files.html
  globals.html
  globals_defs.html
  globals_func.html
  globals_vars.html
  graph_legend.html
  group__boards.html
  group__boards__m4a-24g.html
  group__boards__m4a-mb.html
  index.html
  m4a-24g_2include_2board_8h.html
  m4a-24g_2include_2board_8h_source.html
  m4a-24g_2include_2gpio__params_8h.html
  m4a-24g_2include_2gpio__params_8h_source.html
  m4a-24g_2include_2periph__conf_8h.html
  m4a-24g_2include_2periph__conf_8h_source.html
  m4a-mb_2include_2board_8h.html
  m4a-mb_2include_2board_8h_source.html
  m4a-mb_2include_2gpio__params_8h.html
  m4a-mb_2include_2gpio__params_8h_source.html
  m4a-mb_2include_2periph__conf_8h.html
  m4a-mb_2include_2periph__conf_8h_source.html
  modules.html
Labels: none

doc: license footer to README (#8)
  README.md
Labels: Area: doc

Deploying to gh-pages from @ Mesh4all/boards@896f345949aecdd17ac964f19be5291b7d7293a7 🚀
  dir_1a91ba057e7618aaa89814323bd728ef.html
  dir_37c3374061e37723abb75be9a4454748.html
  dir_521a9ec750d92ccaa863bc2022b3c082.html
  dir_a641ddd3d06421c898b55389fbe0082a.html
  dir_c0654836aac72a94da6f079326b928b1.html
  dir_e68e8157741866f444e17edd764ebbae.html
  files.html
  globals.html
  globals_defs.html
  globals_func.html
  globals_vars.html
  graph_legend.html
  group__boards.html
  group__boards__m4a-24g.html
  group__boards__m4a-mb.html
  index.html
  m4a-24g_2include_2board_8h.html
  m4a-24g_2include_2board_8h_source.html
  m4a-24g_2include_2gpio__params_8h.html
  m4a-24g_2include_2gpio__params_8h_source.html
  m4a-24g_2include_2periph__conf_8h.html
  m4a-24g_2include_2periph__conf_8h_source.html
  m4a-mb_2include_2board_8h.html
  m4a-mb_2include_2board_8h_source.html
  m4a-mb_2include_2gpio__params_8h.html
  m4a-mb_2include_2gpio__params_8h_source.html
  m4a-mb_2include_2periph__conf_8h.html
  m4a-mb_2include_2periph__conf_8h_source.html
  modules.html
  navtreedata.js
  navtreeindex0.js
Labels: none

Git-Template: Add Issue and PR template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Area: doc

git-Template: Add Pull Request Template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Area: doc

doc: Coding Convention Updated
  CODING_CONVENTIONS
Labels: none
